@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');
@font-face {
    font-family: 'lynojean';
    src: url('fonts/lynojean-webfont.woff2') format('woff2'),
         url('fonts/lynojean-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lynoulys';
    src: url('fonts/lynoulys-webfont.woff2') format('woff2'),
         url('fonts/lynoulys-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lynowalt';
    src: url('fonts/lynowalt-webfont.woff2') format('woff2'),
         url('fonts/lynowalt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lynostan';
    src: url('fonts/lynostan-webfont.woff2') format('woff2'),
         url('fonts/lynostan-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Inter';
    font-weight: 200;
}
main{
    padding-left: 100px;
    padding-right: 100px;
}
h3{
    font-family: 'Inter';
    font-weight: 500;
}
.timer{
    font-family: 'lynoulys';
    font-size: 100px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    width: 300px;
    min-height: 200px;
    background: black;
    color: white;
}
.penne .timer{
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
}
.spaghetti .timer{
    font-family: lynostan;
}
.rotini .timer{
    font-family: lynojean;
    border-radius: 100px;
}
.cellentani .timer{
    font-family: lynowalt;
    border-radius: 0px 100px 0px 0px;
}
.button{
    background: white;
    border: 1px solid black;
    color: black;
    position: absolute;
    bottom: 100px;
    left: 100px;
    padding-left: 15px;
    padding-right: 15px;
}
.penne .button{
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
}
.rotini .button{
    border-radius: 25px;
}
.cellentani .button{
    border-radius: 0px 25px 0px 0px;
}
hr{
    box-shadow: none;
    border: 1px solid black;
}
main{
    position: relative;
}
nav{
    padding-left: 0px;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
nav img {
    width: 75px;
}
.home top img{
    width: 100vw;
}
.home{
    width: 40px;
    padding-right: 50 px;
}
header {
    display: flex;
    justify-content: space-between;
}
header .left{
    padding-right: 100px;
}
links{ 
    display: flex;
    align-items: center;
}
links img{ 
    width: 25vw
}
recipe{
    display: flex;
}
footer img{
    width: 100vw;
}