@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');
@font-face {
  font-family: 'lynojean';
  src: url('fonts/lynojean-webfont.woff2') format('woff2'), url('fonts/lynojean-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lynoulys';
  src: url('fonts/lynoulys-webfont.woff2') format('woff2'), url('fonts/lynoulys-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lynowalt';
  src: url('fonts/lynowalt-webfont.woff2') format('woff2'), url('fonts/lynowalt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lynostan';
  src: url('fonts/lynostan-webfont.woff2') format('woff2'), url('fonts/lynostan-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.spaghetti h1{
  font-family: lynostan;
  padding-left: 10px;
}
.rotini h1{
  font-family: lynojean;
  padding-left: 10px;
}
.cellentani h1{
  font-family: lynowalt;
  padding-left: 10px;
}
.penne h1{
  font-family: lynoulys;
  padding-left: 10px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover{
  color: white;
}
body {
  font-family: 'Inter';
  font-weight: 200;
  margin: 0;
}
main {
  padding-left: 100px;
  padding-right: 100px;
}
h3 {
  font-family: 'Inter';
  font-weight: 500;
}
img {
  width: 100%;
}
.timer,
.timer input[type='text'] {
  border: 0;
  font-family: 'lynoulys';
  font-size: 100px;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
  width: 300px;
  min-height: 150px;
  background: black;
  color: white;
}
input{
  max-width: 125px;
}
.penne .timer {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
}
.spaghetti .timer input{
  font-family: lynostan;
}
.rotini .timer {
  border-radius: 0px 100px 100px 0px;
}
.rotini .timer input{
  font-family: lynojean;
}
.cellentani .timer {
  border-radius: 0px 100px 0px 0px;
}
.cellentani .timer input{
  font-family: lynowalt;
} 
.button {
  background: white;
  border: 1px solid black;
  color: black;
  position: absolute;
  bottom: 100px;
  left: 100px;
  padding-left: 15px;
  padding-right: 15px;
}
.button:hover{
  background: black;
  color: white;
}
.penne .button {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
}
.rotini .button {
  border-radius: 0px 25px 25px 0px;
}
.cellentani .button {
  border-radius: 0px 25px 0px 0px;
}
hr {
  box-shadow: none;
  border: 1px solid black;
}
main {
  position: relative;
}
nav {
  padding-left: 0px;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
nav img {
  width: 75px;
}
.home .top img {
  width: 100vw;
}
.home {
  width: 40px;
  padding-right: 50px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.homepage header{
  width: 80%;
  border-bottom: 1px solid black;
}
header div {
  flex: 1;
}
header .left{
  padding-right: 100px;
  flex: .5;
}
header .left p{
  padding-right: 8px;
  border-right: 1px solid black;
}
.homepage header .left{
  padding-top: 30px;
}
.homepage nav {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  border-bottom: 1px solid black;
}
.homepage nav img {
  width: 20vw;
}
.recipe {
  display: flex;
  width: 80%;
  margin: auto;
}
footer {
  margin: 0;
  padding: 0;
}
footer img {
  width: 100vw;
}
.fork{
  position: absolute;
  width: fit-content;
  top: -60px;
  right: -100px;
}